#second, #third, #fourth, #fifth, #empty, #empty2{
    background-color: rgb(51, 192, 157);
}

#empty{
    width: 100%;
    height: 100px;
}

#empty2{
    width: 100%;
    height: 30px;
}

#third, #fifth {
    color: white;
}

#fourth {
    text-align: center;
}

#second {
    text-align: center;
}

.star1{
    color:white;
    display: block;
    text-align: center;
    float:left;
}

.underline-left{

    display: block;
    border-bottom: 3px solid white;
    width: 75px;
    margin-left: 844px;
    position: relative;
    top: 8px;
    float: left;

}

.underline-right {
    display: block;
    border-bottom: 3px solid white;
    width: 75px;
    margin-left: 940px;
    position: relative;
    bottom: 8px;
    float: left;
}

#third {
    text-align: center;
}

#fifth {
    text-align: center;
    height: 40px;

}


.underline-left1{

    display: block;
    border-bottom: 3px solid white;
    width: 75px;
    margin-left: 844px;
    position: relative;
    top: 8px;
    float: left;

}

.underline-right1 {
    display: block;
    border-bottom: 3px solid white;
    width: 75px;
    margin-left: 940px;
    position: relative;
    bottom: 8px;
    float: left;
}
.star1{
    color:white;
    display: block;
    text-align: center;
    float:left;
}