@font-face{
    font-family: "Roboto-Regular";
    src: url(fonts/Roboto-Regular.ttf);
}

*{
    margin: 0px;
    padding: 0px;
}

.cf:after{
    content:"";
    clear: both;
    display: table;
}

#logo {
    font-weight: bold;
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 40px;
    color: white;
    z-index: 3;
}

#logo span {
    color: orange;
    border: 3px solid white;
    border-right: none;
    padding: 0px 0px 0px 5px;
    margin-right: 10px;
    
}

#menu {
    position: absolute;
    top: 30px;
    right: 25px;
    z-index: 2;
}

#menu ul{
    color: white;
    list-style: none;
}

.menu_item {
    display: inline-block;
    padding: 15px;
}

#menu a {
    text-decoration: none;
    color: white;
}

#banner {
    position: relative;
    margin-bottom: 3%;
}

#banner img {
    width: 100%;
    z-index: 1;
}

#banner p {
    box-sizing: border-box;
    padding: 0 10%;
    position: absolute;
    top: 40%;
    text-align: center;
    width: 100%;
    font-size: 51px;
    color: white;
}

#banner a {
    text-decoration: none;
    color: white;
    position: absolute;
    right: 50%;
    transform: translate(50%,0);
    top: 70%;
    z-index: 4;
    border: 1px solid #1c70b1;
    padding: 10px 30px 10px 30px;
    background-color: #1c70b1;
    border-radius: 20px;
}

.separator {
    width: 100%;
    line-height: 30px;
    font-size: 40px;
    text-align: center;
    position: relative;
    margin: 30px 0px;
}

.separator hr {
    width: 25%;
    margin: 25px auto;
    border: none;
    background-color: black;
    height: 2px;
}

.separator::before{
    content:"";
    box-sizing: border-box;
    height: 20px;
    width: 20px;
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%,50%) rotate(45deg);
    background-color: white;
    border: 2px solid black;
}

#wwa {
    width: 70%;
    margin: auto auto 5% auto;
}

.text {
    width: 32%;
    float: left;
}

.text h3 {

    font-size: 23px;
    color: #61aae2;
    margin-bottom: 20px;
}

.text p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 20px;
}

.text ul {
    list-style: none;
}

.text ul li {
    margin-bottom: 15px;
}

.text ul li img {
    
    width: 15px !important;
}

#wwa img {
    
    width: 32%;
    float: left;
    margin: 0px 2%;
}

#wps {
    width: 90%;
    margin: auto auto 5% auto;
}

.bluecard {
    position: relative;
    float: left;
    width: 32%;
    height: 300px;
    background-color: #82c3f5;
}

.bluecard h1{

    font-size: 20px;
    margin-bottom: 5px;

}

.bluecard img{
    position: absolute;
    top: 15%;
    left: 10%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 4px;
    border: 3px solid white;
}

.bluecard p {
    color: white;
    position: absolute;
    width: 80%;
    top: 60%;
    left: 10%;
    line-height: 30px;
}


